/*Stylesheet for character page*/
@import "fonts";
@import "colors";
@import "variable";

*{
	//border: 1px solid red!important;
}


#main-char{
	position: relative;
	//border: 1px solid blue;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column nowrap;
	.slideshow{
		height: 100%;
		width: 100%;
		border: 1px solid orange;
		//background-color: yellow;
		//border-top: 1px solid $slide-color;
	// border-bottom: 1px solid $slide-color;
		.active{
			display: block;
		}
		img{
			display: none;
		}

	}
}

.slideshow{
	position: relative;
	.active{
		display: block;
	}
	.slide{
		margin: 20px;
		border: 2px solid purple;
		display: none;
		position: absolute;
    top: 0;
		bottom: 0;
    left: 0;
    right: 0;
		background-position: center;

		/*
		left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
		*/
    background-repeat: no-repeat;
    background-size: contain; //!important?

	}

}
.dots{
	height: $dot-box-size;
	width: 100%;
	background-color: yellow;
}
.land{
		width: 100%;
		height: auto;
}
//also for square pictures
.port{
		height: 100%;
		width: auto;
}

.square{
	height: 100%;
	width: auto;
}

#left_arrow{
	z-index: 1;
	width: 50px;
	height: 75px;
	background-color: orange;
	position: absolute;
	left: 50px;
	cursor: pointer;
}

#right_arrow{
	z-index: 1;
	width: 50px;
	height: 75px;
	background-color: blue;
	position: absolute;
	right: 50px;
	cursor: pointer;
}
@media only screen and (max-width:$cut-off){
	#main-char{
		.slideshow{
			border: 2px solid red;
			width: 100%;
		}
	}
}


//when height > width need to switch sizing (media quer)
