/*Stylesheet for character page*/
@import "fonts";
@import "colors";
@import "variable";

*{
	//border: 1px solid red!important;
}


#main-char{
	position: relative;
	//border: 1px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	.slideshow{
		padding: 40px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		border: 1px solid orange;
		//background-color: yellow;
		border-top: 1px solid $slide-color;
		border-bottom: 1px solid $slide-color;
		.active{
			display: block;
		}
		img{
			display: none;
		}

	}

}

.dots{
	height: 100px;
	width: 100%;
	background-color: yellow;
}
.land{
		width: 100%;
		height: 500px;
		object-fit: scale-down;
}
//also for square pictures
.port{
		height: 100%;
		width: 500px;
		object-fit: scale-down;
}

.square{
	height: 100%;
	width: auto;
	object-fit: contain;
}
#left_arrow{
	width: 50px;
	height: 75px;
	background-color: orange;
	position: absolute;
	left: 50px;
	cursor: pointer;
}

#right_arrow{
	width: 50px;
	height: 75px;
	background-color: blue;
	position: absolute;
	right: 50px;
	cursor: pointer;
}
@media only screen and (max-width:$cut-off){

	.port{
		max-width: 400px;
		width: auto;
	}
	.square{
		width: 100%;
		height: auto;
	}
}


//when height > width need to switch sizing (media quer)
