/*This stylesheet is for the overall look of the main part of the website*/
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

elements-of-type(html5-block) {
  display: block;
}

/*
 *
 * btns.css
 * Simple css utilities for building responsive buttons
 * Author: mrmrs
 * License: MIT
 *
 *                */
/*

  Base .btn class

  Code:
  <a href="#" class="btn">Default button</a>

*/
/*Variables*/
/*Menu*/
/*Nav bar*/
@font-face {
  font-family: 'Aracne';
  src: url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"), url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

h2, a {
  font-family: AracneLight;
  font-size: 40px;
  letter-spacing: .04em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.btn,
.btn:link,
.btn:visited {
  width: 10px;
  font-size: 20px;
  border-radius: .25em;
  border-style: solid;
  border-width: 1px;
  color: #3d4853;
  display: inline-block;
  font-family: AracneRegular, avenir, helvetica, roboto, arial, sans-serif;
  letter-spacing: .15em;
  margin-bottom: .5em;
  padding: .8em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .4s, background-color .4s, border .4s;
}

.btn:hover,
.btn:focus {
  /*
  color: white;
	background-color: black;
  transition: background-color .3s, color .3s, border .3s;
	*/
}

.btn:active {
  color: #0074D9;
  background-color: black;
  border-color: #0074D9;
  transition: background-color .3s, color .3s, border .3s;
}

.btn:hover {
  color: white;
  background-color: #3d4853;
  transition: background-color .3s, color .3s, border .3s;
}

/*

  Sizes

  Small  = .btn--s
  Medium = .btn--m
  Large  = .btn--l

  Code:
  <a href="#" class="btn btn--s">
  <a href="#" class="btn btn--m">
  <a href="#" class="btn btn--l">

*/
.btn--s {
  font-size: 14px;
}

.btn--m {
  font-size: 16px;
}

.btn--l {
  font-size: 20px;
  border-radius: 0.25em !important;
}

/*

  Layout utility for responsive buttons

  Code:
  <a href="#" class="btn btn--full">

*/
.btn--full,
.btn--full:link {
  border-radius: .25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 85%;
}

/*

  Skins

  * Black & White
  * Grays
  * Colors

  Code:
  <a href="#" class="btn btn--black">
  <a href="#" class="btn btn--white">
  <a href="#" class="btn btn--gray">
  <a href="#" class="btn btn--gray-dark">
  <a href="#" class="btn btn--gray-border">
  <a href="#" class="btn btn--blue">

*/
/* BLACK & WHITE */
.btn--black,
.btn--black:link,
.btn--black:visited {
  color: #fff;
  background-color: #111;
}

.btn--black:hover,
.btn--black:focus {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

.btn--black:active {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.btn--white,
.btn--white:link,
.btn--white:visited {
  color: #111;
  background-color: #fff;
}

.btn--white:hover,
.btn--white:focus {
  color: #111;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

.btn--white:active {
  color: #111;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

/* Gray */
.btn--gray:link,
.btn--gray:visited {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #555;
}

.btn--gray:hover,
.btn--gray:focus {
  background-color: #ddd;
  border-color: #ddd;
  color: #444;
}

.btn--gray:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}

.btn--gray-border:link,
.btn--gray-border:visited {
  background-color: #fff;
  border-color: #555;
  border-width: 2px;
  color: #555;
}

.btn--gray-border:hover,
.btn--gray-border:focus {
  background-color: #fff;
  border-color: #ddd;
  color: #777;
}

.btn--gray-border:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}

.btn--gray-dark:link,
.btn--gray-dark:visited {
  background-color: #555;
  color: #eee;
}

.btn--gray-dark:hover,
.btn--gray-dark:focus {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

.btn--gray-dark:active {
  background-color: #777;
  border-color: #777;
  color: #eee;
}

/* BLUE */
.btn--blue:link,
.btn--blue:visited {
  color: #fff;
  background-color: #0074D9;
}

.btn--blue:hover,
.btn--blue:focus {
  color: #fff !important;
  background-color: #0063aa;
  border-color: #0063aa;
}

.btn--blue:active {
  color: #fff;
  background-color: #001F3F;
  border-color: #001F3F;
}

/* Keep it mobile-first and responsive */
@media screen and (min-width: 601px) {
  .btn--full {
    max-width: 16em !important;
  }
  /*
	.btn--full:link {
	  width: 100%;
	}
	*/
}

@font-face {
  font-family: 'Aracne';
  src: url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"), url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

h2, a {
  font-family: AracneLight;
  font-size: 40px;
  letter-spacing: .04em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/*Variables*/
/*Menu*/
/*Nav bar*/
.grid {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
}

/*Stylesheet for character page*/
@font-face {
  font-family: 'Aracne';
  src: url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"), url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

h2, a {
  font-family: AracneLight;
  font-size: 40px;
  letter-spacing: .04em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/*Variables*/
/*Menu*/
/*Nav bar*/
#main-char {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  padding: 20px;
  padding-top: 40px;
}

#main-char .slideshow {
  height: 100%;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

#main-char .slideshow .active {
  display: block;
}

#main-char .slideshow img {
  display: none;
}

.slideshow {
  position: relative;
}

.slideshow .slide {
  margin: 30px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  /*
		left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
		*/
  background-repeat: no-repeat;
  background-size: contain;
}

.dots {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dots ul {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
}

.single-dot {
  cursor: pointer;
  margin: 8px;
  background-color: grey;
  border-radius: 50%;
  width: 1.2vh;
  height: 1.2vh;
}

.active-dot {
  background-color: orange;
}

#left_arrow, #right_arrow {
  z-index: 1;
  width: 50px;
  height: 75px;
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
  cursor: pointer;
  opacity: 0.45;
}

#left_arrow img, #right_arrow img {
  width: 100%;
  height: 100%;
}

#left_arrow:hover, #right_arrow:hover {
  transition: opacity 0.2s;
  opacity: 0.7;
}

#left_arrow {
  left: 10px;
}

#right_arrow {
  right: 10px;
}

@media only screen and (max-width: 900px) {
  #left_arrow, #right_arrow {
    top: 40vh;
  }
  #left_arrow {
    left: 5px;
  }
  #right_arrow {
    right: 5px;
  }
  .single-dot {
    width: 1.6vh;
    height: 1.6vh;
  }
  #main-char {
    padding-bottom: 15vh;
  }
  #main-char .slideshow {
    width: 100%;
    height: 90%;
    border-top: 0px solid red !important;
  }
  #main-char .dots {
    height: 10%;
  }
  #i1 {
    background-image: url(../pictures/characters/1med.jpg);
  }
  #i2 {
    background-image: url(../pictures/characters/2med.jpg);
  }
  #i3 {
    background-image: url(../pictures/characters/3med.jpg);
  }
  #i4 {
    background-image: url(../pictures/characters/4med.jpg);
  }
  #i5 {
    background-image: url(../pictures/characters/5med.jpg);
  }
  #i6 {
    background-image: url(../pictures/characters/6med.jpg);
  }
  #i7 {
    background-image: url(../pictures/characters/7med.jpg);
  }
  #i8 {
    background-image: url(../pictures/characters/8med.jpg);
  }
  #i9 {
    background-image: url(../pictures/characters/9med.jpg);
  }
  #i10 {
    background-image: url(../pictures/characters/10med.jpg);
  }
  #i11 {
    background-image: url(../pictures/characters/11med.jpg);
  }
  #i12 {
    background-image: url(../pictures/characters/12med.jpg);
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  #main-char {
    padding-bottom: 9vh;
    padding-top: 10px;
  }
  .single-dot {
    width: 2.4vh;
    height: 2.4vh;
  }
  #main-char .slideshow {
    height: 80%;
    margin-top: 5vh;
    border-bottom: 0px solid red !important;
  }
  #main-char .slideshow .slide {
    margin: 20px;
  }
}

@media only screen and (min-width: 901px) {
  #i1 {
    background-image: url(../pictures/characters/1.jpg);
  }
  #i2 {
    background-image: url(../pictures/characters/2.jpg);
  }
  #i3 {
    background-image: url(../pictures/characters/3.jpg);
  }
  #i4 {
    background-image: url(../pictures/characters/4.jpg);
  }
  #i5 {
    background-image: url(../pictures/characters/5.jpg);
  }
  #i6 {
    background-image: url(../pictures/characters/6.jpg);
  }
  #i7 {
    background-image: url(../pictures/characters/7.jpg);
  }
  #i8 {
    background-image: url(../pictures/characters/8.jpg);
  }
  #i9 {
    background-image: url(../pictures/characters/9.jpg);
  }
  #i10 {
    background-image: url(../pictures/characters/10.jpg);
  }
  #i11 {
    background-image: url(../pictures/characters/11.jpg);
  }
  #i12 {
    background-image: url(../pictures/characters/12.jpg);
  }
}

/*Stylesheet for animation page*/
@font-face {
  font-family: 'Aracne';
  src: url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"), url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

h2, a {
  font-family: AracneLight;
  font-size: 40px;
  letter-spacing: .04em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/*Variables*/
/*Menu*/
/*Nav bar*/
#main-anim {
  height: 100%;
}

.gallery {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.gallery .videos {
  padding: 20px;
  border-top: 1px solid #d3d3d3;
  margin-right: 30px;
  margin-left: 30px;
  height: 68%;
}

.gallery .videos .vid {
  display: none;
  height: 100%;
  width: 100%;
}

.gallery .videos .active-vid {
  display: block;
}

.gallery .active-vid {
  display: block;
}

.gallery .anim-title {
  height: 4%;
  margin-left: 30px;
}

.gallery .anim-title p {
  font-size: 26px;
  font-family: AracneRegular;
}

.gallery .vid-list {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
  height: 28%;
  border-top: 1px solid #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}

.gallery .vid-list li {
  display: flex;
  flex-direction: column;
}

.gallery .vid-list li p {
  margin-top: 10px;
  font-family: AracneRegular;
  font-size: 130%;
}

.gallery .vid-list li p:hover {
  color: orange;
  transition: color 0.2s;
}

.gallery .vid-list .thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .vid-list .overlay {
  position: absolute;
  background-color: orange;
  opacity: 0;
}

.gallery .vid-list .overlay:hover {
  opacity: 0.3;
  transition: opacity 0.2s;
}

.gallery .vid-list div {
  width: 150px;
  height: 100px;
}

.gallery .vid-list .active-li p {
  color: #0074D9;
}

.gallery .vid-list .active-li p:hover {
  color: orange;
  transition: color 0.2s;
}

#ii1 {
  background-image: url(../pictures/video_icons/monster.jpg);
}

#ii2 {
  background-image: url(../pictures/video_icons/wilf.jpg);
}

#ii3 {
  background-image: url(../pictures/video_icons/bo.jpg);
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
  #main-anim {
    width: 100%;
    height: auto;
  }
  .gallery {
    width: 100%;
  }
  .gallery .videos {
    height: 58vh;
    padding: 10px;
  }
  .gallery .anim-title {
    height: 50px;
    margin-top: 50px;
  }
  .gallery .vid-list {
    margin-left: 10px;
    margin-right: 10px;
    flex-flow: column nowrap;
    margin-bottom: 50px;
    height: auto;
  }
  .gallery .vid-list li {
    margin-bottom: 20px;
  }
  .gallery .vid-list div {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .container {
    height: auto;
    max-height: auto;
    min-height: auto;
  }
  #main-anim {
    height: 100%;
  }
  .gallery {
    margin-top: 25px;
    height: auto;
  }
  .gallery .videos {
    height: 80vh;
  }
  .gallery .vid-list {
    height: auto;
  }
  .gallery .vid-list div {
    height: 25vh;
  }
}

@font-face {
  font-family: 'Aracne';
  src: url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"), url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

h2, a {
  font-family: AracneLight;
  font-size: 40px;
  letter-spacing: .04em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/*Variables*/
/*Menu*/
/*Nav bar*/
.reel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 10px 30px 100px 30px;
}

.reel-container p {
  font-family: AracneRegular;
  font-size: 26px;
  padding-bottom: 5px;
  visibility: hidden;
}

.reel-container .reel {
  border-top: 1px solid #d3d3d3;
  padding: 20px 20px 0 20px;
  width: 100%;
  height: 100%;
}

#j1 {
  background-image: url(../pictures/digital/1med.jpg);
}

#j2 {
  background-image: url(../pictures/digital/2med.jpg);
}

#j3 {
  background-image: url(../pictures/digital/3med.jpg);
}

#j4 {
  background-image: url(../pictures/digital/4med.jpg);
}

#j5 {
  background-image: url(../pictures/digital/5med.jpg);
}

#j6 {
  background-image: url(../pictures/digital/6med.jpg);
}

#j7 {
  background-image: url(../pictures/digital/7med.jpg);
}

#j8 {
  background-image: url(../pictures/digital/8med.jpg);
}

#j9 {
  background-image: url(../pictures/digital/9med.jpg);
}

#j10 {
  background-image: url(../pictures/digital/10med.jpg);
}

#j11 {
  background-image: url(../pictures/digital/11med.jpg);
}

#j12 {
  background-image: url(../pictures/digitals/12med.jpg);
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  #main-char {
    padding-bottom: 9vh;
    padding-top: 10px;
  }
  .single-dot {
    width: 2.4vh;
    height: 2.4vh;
  }
  #main-char .slideshow {
    height: 80%;
    margin-top: 5vh;
    border-bottom: 0px solid red !important;
  }
  #main-char .slideshow .slide {
    margin: 20px;
  }
}

@media only screen and (min-width: 901px) {
  #ji1 {
    background-image: url(../pictures/digital/1.jpg);
  }
  #j2 {
    background-image: url(../pictures/digital/2.jpg);
  }
  #j3 {
    background-image: url(../pictures/digital/3.jpg);
  }
  #j4 {
    background-image: url(../pictures/digital/4.jpg);
  }
  #j5 {
    background-image: url(../pictures/digital/5.jpg);
  }
  #j6 {
    background-image: url(../pictures/digital/6.jpg);
  }
  #j7 {
    background-image: url(../pictures/digital/7.jpg);
  }
  #j8 {
    background-image: url(../pictures/digital/8.jpg);
  }
  #j9 {
    background-image: url(../pictures/digital/9.jpg);
  }
  #j10 {
    background-image: url(../pictures/digital/10.jpg);
  }
  #j11 {
    background-image: url(../pictures/digital/11.jpg);
  }
  #j12 {
    background-image: url(../pictures/digital/12.jpg);
  }
}

/*Stylesheet for about page*/
@font-face {
  font-family: 'Aracne';
  src: url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"), url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

h2, a {
  font-family: AracneLight;
  font-size: 40px;
  letter-spacing: .04em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/*Variables*/
/*Menu*/
/*Nav bar*/
.about-container {
  border-top: 1px solid #d3d3d3;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 90%;
}

.about-container h2 {
  color: #0074D9;
  margin-bottom: 10px;
}

.about-container h3 {
  text-align: center;
}

.box1 {
  padding-top: 25px;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box1 h1 {
  text-align: left;
}

.box1 h3 {
  text-align: left;
}

.box2 {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.box2 h2 {
  text-align: center;
}

.box2 h3 {
  text-align: center;
  margin-bottom: 20px;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px 20px 40px;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prof {
  width: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../pictures/profile.jpg);
}

@media only screen and (max-width: 900px) {
  #main-about {
    height: 160vh;
  }
  .about-container {
    border-top: 0px solid red;
    border: 3px solid orange;
    height: 100%;
    margin: 0px;
  }
  #container-a {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .box1 {
    padding-top: 0px;
    height: 70vh;
    border: 1px solid red;
    justify-content: space-around;
    flex-direction: column;
  }
  .box1 h2 {
    text-align: center;
  }
  .box1 h3 {
    text-align: center;
  }
  .box2 {
    height: 90vh;
    border: 1px solid red;
  }
  .prof {
    height: 40vh;
    width: 100%;
    margin-bottom: 30px;
  }
  .text {
    padding: 30px 40px 20px 40px;
    width: 100%;
  }
  .text2, .text {
    border: 1px solid blue;
    height: 30vh;
  }
  .text2 h2, .text h2 {
    font-size: 5vw;
  }
  .text2 h3, .text h3 {
    font-size: 2.5vw;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

/*Additional classes*/
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/*Copyright note*/
#copy {
  margin: auto;
}

#copy h3 {
  color: white;
  opacity: .4;
  font-size: 15px;
  text-align: center;
}

/*container for navigation and main content*/
.container {
  border: 3px solid blue;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  height: 80vh;
  max-height: 80vh;
  min-height: 750px;
  max-width: 1500px;
  width: 100%;
}

/*Navigation bar that shows up in mobile version*/
.mob-nav-bar {
  display: none;
  height: 59px;
  width: 100%;
  background-color: #536270;
  position: fixed;
  z-index: 4;
}

.nav-logo {
  float: right;
  height: 55px;
  width: auto;
  padding: 5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/*Navigation + logo + footer*/
.menu {
  z-index: 2;
  background-color: #3d4853;
  max-width: 250px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.menu padding {
  top: 0px;
  bottom: 0px;
}

.menu-button {
  display: inline-block;
  padding: .5em;
  background-color: #536270;
  /*
	&:hover{
		background-color: $menu;
		transition: background-color .2s;
	}
	*/
}

.burger-icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.burger-icon, .burger-icon::before, .burger-icon::after {
  display: block;
  width: 22px;
  height: 3px;
  background-color: white;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger-icon::before, .burger-icon::after {
  position: absolute;
  content: "";
}

.burger-icon::before {
  top: -8px;
}

.burger-icon::after {
  top: 8px;
}

.menu-button.is-active .burger-icon {
  background-color: transparent;
}

.menu-button.is-active .burger-icon::before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.menu-button.is-active .burger-icon::after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

#brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 45px;
}

#logo img {
  width: 120px;
  height: 120px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#logo-text {
  color: white;
  display: none;
  flex-flow: column nowrap;
  align-items: flex-start;
  text-align: center;
  border-left: hidden;
  margin-top: 15px;
  padding-top: 15px;
  padding-left: 0;
  margin-left: 0;
  height: 120px;
  width: 85%;
}

#logo-text h2 {
  font-size: 30px;
  text-align: center;
}

#logo-text h3 {
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/*Navigation links*/
.main-nav {
  width: 100%;
  height: 100%;
}

.main-nav a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 8px 0 15px 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: block;
  font-size: 17px;
  letter-spacing: .175em;
}

.main-nav a:hover {
  color: #ffbf5e;
  transition: color 0.2s;
}

.main-nav-ul {
  /*Sub menus*/
}

.main-nav-ul ul {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: #232930;
}

.main-nav-ul li {
  height: 50px;
}

/*Shows sub menu when sub menu headings are clicked*/
.main-nav-ul li.tap ul {
  display: block;
}

/*arrow that shows up next to sub menus*/
.sub-arrow {
  display: inline-block;
}

.sub-arrow:after {
  position: relative;
  top: 1px;
  color: #b3b3b3;
  display: inline-block;
  content: "\2039";
  font-size: 24px;
  text-align: center;
  margin-left: 4px;
}

.sub-arrow:hover {
  color: #ffbf5e;
}

/*Footer*/
.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 15px;
}

/*social media*/
.social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  bottom: 45px;
  margin: auto;
}

.social-media a {
  text-decoration: none;
}

.iconcon {
  padding: 3px;
  width: 36px;
  height: 36px;
}

.icon {
  opacity: .35;
  height: 100%;
  width: 100%;
  padding: auto;
}

.icon:hover {
  opacity: .75;
  transition: opacity .2s;
}

/*Main content container*/
main {
  border: 2px solid purple;
  width: 1250px;
  height: 100%;
}

#main-home img {
  width: 100%;
}

.bot-nav-ul {
  display: none;
  border: 2px solid green;
  position: relative;
  background-color: #3d4853;
  padding-bottom: 5vh;
  padding-top: 64px;
  flex-flow: column wrap;
  justify-content: center;
  width: 0vw;
  height: 100%;
}

.bot-nav-ul li {
  padding: 2vh;
  padding-left: 3vh;
  padding-bottom: 2vh;
}

.bot-nav-ul li a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 4.5vh;
  font-family: AracneRegular;
}

.bot-nav-ul li a:hover {
  color: #ffbf5e;
}

#soc3 {
  display: none;
  position: absolute;
  bottom: 3vh;
  left: 3vh;
  width: 70%;
}

#soc3 .iconcon {
  padding: 3px;
  width: 45px;
  height: 45px;
}

@media only screen and (max-width: 900px) {
  .container {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
  }
  .mob-nav-bar {
    display: block;
    position: fixed;
  }
  .container {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
    padding: 0;
  }
  .menu {
    position: fixed;
    top: 59px;
    display: none;
    max-width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
  }
  #brand, #copy {
    display: none;
  }
  .iconcon {
    padding: 3px;
    width: 31.5px;
    height: 31.5px;
  }
  .social-media {
    width: 80%;
  }
  .footer {
    position: static;
    height: 60px;
  }
  main {
    width: 100%;
    height: 100%;
    margin-top: 59px;
  }
  body {
    padding-top: 0;
  }
  .main-nav-ul {
    display: flex;
    flex-direction: column;
  }
  .main-nav-ul ul {
    z-index: 2;
  }
  .main-nav-ul li {
    z-index: 2;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) and (max-height: 450px) {
  .container {
    flex-direction: row;
    width: 100vw;
  }
  .menu {
    display: none !important;
  }
  main {
    height: 90%;
    width: 100vw !important;
    margin-top: 5%;
  }
  .bot-nav-ul {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100%;
    width: 0vw;
  }
  .bot-nav-ul li {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  .menu {
    display: block !important;
  }
}
