/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
/* line 5, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}

/* line 103, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Users/jessi/Desktop/Jessica/Programs/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
elements-of-type(html5-block) {
  display: block;
}

/*
 *
 * btns.css
 * Simple css utilities for building responsive buttons
 * Author: mrmrs
 * License: MIT
 *
 *                */
/*

  Base .btn class

  Code:
  <a href="#" class="btn">Default button</a>

*/
/* line 21, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn,
.btn:link,
.btn:visited {
  border-radius: .25em;
  border-style: solid;
  border-width: 1px;
  color: black;
  display: inline-block;
  font-family: avenir, helvetica, roboto, arial, sans-serif;
  letter-spacing: .15em;
  margin-bottom: .5em;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .4s, background-color .4s, border .4s;
}

/* line 38, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn:hover,
.btn:focus {
  color: white;
  background-color: black;
  transition: background-color .3s, color .3s, border .3s;
}

/* line 45, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  transition: background-color .3s, color .3s, border .3s;
}

/*

  Sizes

  Small  = .btn--s
  Medium = .btn--m
  Large  = .btn--l

  Code:
  <a href="#" class="btn btn--s">
  <a href="#" class="btn btn--m">
  <a href="#" class="btn btn--l">

*/
/* line 67, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--s {
  font-size: 14px;
}

/* line 68, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--m {
  font-size: 16px;
}

/* line 69, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--l {
  font-size: 20px;
  border-radius: 0.25em !important;
}

/*

  Layout utility for responsive buttons

  Code:
  <a href="#" class="btn btn--full">

*/
/* line 81, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--full,
.btn--full:link {
  border-radius: .25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

/*

  Skins

  * Black & White
  * Grays
  * Colors

  Code:
  <a href="#" class="btn btn--black">
  <a href="#" class="btn btn--white">
  <a href="#" class="btn btn--gray">
  <a href="#" class="btn btn--gray-dark">
  <a href="#" class="btn btn--gray-border">
  <a href="#" class="btn btn--blue">

*/
/* BLACK & WHITE */
/* line 112, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--black,
.btn--black:link,
.btn--black:visited {
  color: #fff;
  background-color: #111;
}

/* line 119, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--black:hover,
.btn--black:focus {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

/* line 126, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--black:active {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

/* line 133, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--white,
.btn--white:link,
.btn--white:visited {
  color: #111;
  background-color: #fff;
}

/* line 140, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--white:hover,
.btn--white:focus {
  color: #111;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

/* line 147, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--white:active {
  color: #111;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

/* Gray */
/* line 157, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray:link,
.btn--gray:visited {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #555;
}

/* line 164, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray:hover,
.btn--gray:focus {
  background-color: #ddd;
  border-color: #ddd;
  color: #444;
}

/* line 171, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}

/* line 177, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray-border:link,
.btn--gray-border:visited {
  background-color: #fff;
  border-color: #555;
  border-width: 2px;
  color: #555;
}

/* line 185, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray-border:hover,
.btn--gray-border:focus {
  background-color: #fff;
  border-color: #ddd;
  color: #777;
}

/* line 192, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray-border:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}

/* line 198, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray-dark:link,
.btn--gray-dark:visited {
  background-color: #555;
  color: #eee;
}

/* line 204, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray-dark:hover,
.btn--gray-dark:focus {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

/* line 211, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--gray-dark:active {
  background-color: #777;
  border-color: #777;
  color: #eee;
}

/* BLUE */
/* line 220, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--blue:link,
.btn--blue:visited {
  color: #fff;
  background-color: #0074D9;
}

/* line 226, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--blue:hover,
.btn--blue:focus {
  color: #fff !important;
  background-color: #0063aa;
  border-color: #0063aa;
}

/* line 233, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
.btn--blue:active {
  color: #fff;
  background-color: #001F3F;
  border-color: #001F3F;
}

/* Keep it mobile-first and responsive */
@media screen and (min-width: 32em) {
  /* line 242, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/btns/_styles.scss */
  .btn--full {
    max-width: 16em !important;
  }
}

@font-face {
  font-family: 'Aracne';
  src: url("../Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Aracne_Light/ARACNE_light.woff") format("woff"), url("../Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 30, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/_fonts.scss */
h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

/* line 35, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/_fonts.scss */
h2 {
  font-family: AracneLight;
  font-size: 40px;
}

/* line 40, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/_fonts.scss */
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/*Variables*/
/*Basics*/
/* line 16, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.grid {
  padding-top: 70px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

/* line 35, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.row {
  width: 100%;
  display: flex;
}

/* line 41, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.row::after {
  content: "";
  clear: both;
  display: block;
}

/* line 46, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-1 {
  width: 8.33%;
}

/* line 47, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-2 {
  width: 16.66%;
}

/* line 48, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-3 {
  width: 25%;
}

/* line 49, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-4 {
  width: 33.33%;
}

/* line 50, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-5 {
  width: 41.66%;
}

/* line 51, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-6 {
  width: 50%;
}

/* line 52, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-7 {
  width: 58.33%;
}

/* line 53, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-8 {
  width: 66.66%;
}

/* line 54, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-9 {
  width: 75%;
}

/* line 55, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-10 {
  width: 83.33%;
}

/* line 56, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-11 {
  width: 91.66%;
}

/* line 57, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.col-12 {
  width: 100%;
}

/* line 59, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
[class*="col-"] {
  float: left;
}

/*Logo pieces*/
/* line 65, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
header {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  height: 100px;
  align-items: center;
}

/* line 72, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#brand {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* line 77, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#brand a {
  text-decoration: none;
}

/* line 81, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* line 94, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo h1 {
  color: white;
}

/* line 98, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo:hover, #logo:focus {
  transition: background-color .3s;
  background-color: white;
}

/* line 101, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo:hover h1, #logo:focus h1 {
  transition: color .3s;
  color: black;
}

/* line 106, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo:active {
  border: 2px solid #0074D9;
  transition: background-color .3s, color .3s, border .3s;
}

/* line 107, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo:active h1 {
  color: #0074D9;
}

/* line 114, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo-text {
  border-left: 2px solid black;
  height: 100%;
  padding-left: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 126, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo-text h2 {
  padding-top: 10px;
  margin-bottom: 6px;
}

/* line 130, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#logo-text h3 {
  padding-bottom: 10px;
  margin-left: 4px;
}

/*social media*/
/* line 137, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  height: 100px;
  position: absolute;
  right: 0;
}

/* line 147, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#social-media a {
  text-decoration: none;
}

/* line 153, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.iconcon {
  padding: 10px;
  width: 60px;
  height: 60px;
}

/* line 161, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.icon {
  height: auto;
  width: 100%;
  padding: auto;
}

/* line 169, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#youtube {
  margin-top: -3px;
}

/* line 171, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#youtube img {
  width: 45px;
  max-width: 100%;
}

/* line 177, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#link {
  margin-bottom: 2px;
}

/*Main*/
/* line 181, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
main {
  display: flex;
  flex-direction: column;
}

/* line 186, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.nav {
  margin-top: 160px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

/* line 194, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.art_nav {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* line 199, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.art_nav h2, .art_nav h3 {
  font-family: AracneRegular;
  font-size: 50px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* line 211, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.imgcontainer {
  width: 200px;
  height: 200px;
  position: relative;
}

/* line 215, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.imgcontainer img {
  max-width: 100%;
  height: auto;
}

/* line 220, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00284d;
}

/* line 229, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#box {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  height: auto;
}

/* line 235, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
#box a {
  text-decoration: none;
}

/*Mobile devices*/
@media only screen and (max-width: 500px) {
  /* line 254, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  header {
    flex-flow: column nowrap;
    height: auto;
  }
  /* line 259, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #social-media {
    position: static;
    width: auto;
    height: auto;
    clear: both;
  }
  /* line 265, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .icon {
    margin: 0px 10px 0px 10px;
  }
  /* line 268, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #logo-text {
    text-align: center;
    border-left: hidden;
    border-top: 2px solid black;
    margin-top: 5px;
  }
  /* line 274, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #brand {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 280, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .nav {
    display: none;
  }
  /* line 283, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #box {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  /* line 289, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .imgcontainer {
    width: 180px;
    height: auto;
  }
  /* line 294, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .art_nav h2, .art_nav h3 {
    font-size: 20px;
  }
}

/*Tablets Square box*/
@media only screen and (max-width: 800px) {
  /* line 302, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .art_nav h2, .art_nav h3 {
    font-size: 35px;
  }
  /* line 306, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .nav {
    flex-flow: row wrap;
    align-content: space-around;
    margin-top: 30px;
    height: 600px;
  }
  /* line 312, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .imgcontainer {
    width: 260px;
    height: auto;
  }
  /* line 316, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  header {
    flex-flow: column nowrap;
    height: auto;
  }
  /* line 321, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #social-media {
    position: static;
    width: auto;
    height: auto;
    clear: both;
  }
  /* line 327, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .icon {
    margin: 0px 10px 0px 10px;
  }
  /* line 330, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #logo-text {
    text-align: center;
    border-left: hidden;
    border-top: 2px solid black;
    margin-top: 5px;
  }
  /* line 336, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #brand {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 342, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  #box {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  /* line 348, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .nav {
    height: 470px;
  }
  /* line 351, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .imgcontainer {
    width: 200px;
    height: auto;
  }
  /* line 356, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .art_nav h2, .art_nav h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 801px) {
  /* line 364, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .iconcon {
    border: 2px solid white;
  }
  /* line 366, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .iconcon:hover {
    border: 2px solid black;
    border-radius: 50%;
    transition: border .3s;
  }
  /* line 374, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .art_nav h2, .art_nav h3 {
    font-family: AracneLight;
    font-size: 40px;
    display: none;
  }
  /* line 381, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .art_nav:hover h2, .art_nav:hover h3 {
    display: block;
  }
  /* line 384, C:/Users/jessi/Desktop/Jessica/Web Dev/myport/sass/screen.scss */
  .art_nav:hover .overlay {
    opacity: 0.65;
    transition: opacity .25s;
  }
}

/*# sourceMappingURL=../stylesheets/screen.map */